.content {
    flex: 1 0 auto;
}

.form_create_worker_name {
    display: block;
    margin: 10px 0 0 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.form_create_worker {
    margin: 10px 0 0 1rem;
}

.form_create_worker__create_worker_input {
    display: block;
    width: 10rem;
}

.empty_create_field {
    color: red;
}